<h1>Ranking</h1>
<table class="table table-striped">
	<tr>
    <th>Picture</th>
    <th>Name</th>
    <th>Points</th>
   </tr>
<%= classification.each do |player| %>
	<tr>
		<td><%= image_tag player.avatar.url(:thumb), class: 'img-circle' %></td>
		<td><h4><%= player.first_name %> <%= player.last_name %></h4></td> 
		<td><h4><%= player.points %></h4></td>
	</tr>
<% end %>	





	