<h1>Editing player</h1>
<% if @player.errors != nil %>
		<% @player.errors.full_messages.each do |message| %>
			<%= message %>
		<% end %>
<% end %>

<%= form_for @player, url: {action: "update"} do |f| %>
	<h3> First name </h3><br>
	<%= f.text_field :first_name, class: 'form-control' %>
	
	<h3> Last name </h3><br>
	<%= f.text_field :last_name, class: 'form-control' %>

	<h3> Photo </h3><br>
	<%= f.file_field :avatar %>
	<%= f.submit %>
<% end %>

