<div class="row">
   <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @player %>
        <%= @player.first_name %>
        <%= @player.last_name %>
      </h1> 
    </section>
  </aside>
  
  <div class="col-md-8">
    <ul class="player_statistics">
      <li>Position in general classification: <%= @player.position_in_classification %>
      <li>Points in general clasification: <%= @player.points %></li><br />
    	<li>Number of matches: <%= @player.number_of_matches %></li>
    	<li>Wins: <%= @player.wins %></li>
    	<li>Losts: <%= @player.losts %></li>    	
    	<li>Goals: <%= @player.total_score %></li>
    	<li>Average number of goals: <%= @player.average_number_of_goals %></li>
    </ul>
  </div>  
</div>









