<div class="row">
   <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @player %>
        <%= @player.first_name %>
        <%= @player.last_name %>
      </h1> 
    </section>
  </aside>
  
  <div class="col-md-8">
  	<h3> Number of matches: <%= @player.number_of_matches %></h3>
  	<h3> Wins: <%= @player.wins %> </h3> 
  	<h3> Losts: <%= @player.losts %> </h3><br>
  	<h3> Points in general clasification: <%= @player.points %> </h3>
  	<h3> Goals: <%= @player.total_score %> </h3>
  	<h3> Average number of goals: <%= @player.average_number_of_goals %> </h3>  	
  </div>  
</div>









