<h1>Editing match</h1>
<div class='row'>
  <div class="col-md-6 col-md-offset-3">
		<%= form_for @match, url: {action: "update"} do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
			
    	<%= f.label :date %><br />
			<%= f.text_field :date, id: 'datepicker', class: 'form-control' %>
			
			<%= f.label :first_player %><br />
			<%= f.collection_select :player1_id, Player.all.sort_by(&:last_name), 
															:id, :last_name, :include_blank => true,
															class: 'form-control' %>
			<%= f.label :second_name %><br />
			<%= f.collection_select :player2_id, Player.all, 
															:id, :last_name, :include_blank => true,
															class: 'form-control' %>

			<%= f.label :first_player_score %><br />
			<%= f.text_field :player1_score, class: 'form-control' %>
			
			<%= f.label :second_player_score %><br />
			<%= f.text_field :player2_score, class: 'form-control' %><br />
			
			<%= f.submit 'Submit', class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>
