<h1>Editing match</h1>
<% if @match.errors != nil %>
		<% @match.errors.full_messages.each do |message| %>
			<%= message %>
		<% end %>
<% end %>

<%= form_for @match, url: {action: "update"} do |f| %>
	<h4>Date: <%= f.text_field :date, id: 'datepicker' %></h4>		
	<h4>First Player: <%= f.collection_select :player1_id, Player.all, :id, 
											 											:last_name, :include_blank => true %></h4>
	<h4>Second Player: <%= f.collection_select :player2_id, Player.all, :id, 
											  :last_name, :include_blank => true %></h4>

	<h4>Score of first player: <%= f.text_field :player1_score, class: 'form-control' %></h4>
	<h4>Score of second player: <%= f.text_field :player2_score, class: 'form-control' %></h4>	
	<%= f.submit %>
<% end %>

