<h1>Listing matches</h1>
	<ul class='index'>
  	<%= link_to new_match_path, class: 'btn btn-primary btn-lg' do %>
			<span class="glyphicon glyphicon-plus"></span>
			New match
		<% end %>
		<% @matches.each do |match| %>
	  	<li>
	  		<%= match.date %> |
	  		<%= link_to "#{ match.player1.last_name } vs #{ match.player2.last_name } | ",						match_path(match) %>
		  	<%= match.player1_score %>:<%= match.player2_score %>	  	
		  	<% if current_player.admin? %>
		  		<%= link_to "Edit", edit_match_path(match) %>
		  		<%= link_to "Destroy", match, method: :delete, data: { confirm: "You're sure?" } %>
		  	<% end %>
		  </li>
		<% end %>
	</ul> 
	<%= will_paginate %>



