<h1>Listing matches</h1>
	<ul class='index'>
  	<%= link_to new_match_path, class: 'btn btn-primary btn-lg' do %>
			<span class="glyphicon glyphicon-plus"></span>
			New match
			<% end %>
		<% @matches.each do |match| %>
	  	<li>
	  		<%= match.date %>
		  	<%=match.player1.last_name %>
		  	<%=match.player2.last_name %>
		  	<%= match.player1_score %> 
		  	<%= match.player2_score %>	  	
		  </li>
		<% end %>
	</ul> 
	<%= will_paginate %>



