<h1>New Match</h1>
	<% if @match.errors != nil %>
		<% @match.errors.full_messages.each do |message| %>
			<%= message %>
		<% end %>
	<% end %>

<%= form_for @match, url: {action: "create"} do |f| %>
	<p>Date: 
		<%= f.text_field :date, id: 'datepicker' %>
	 </p>

		
	<p>First Player: <%= f.collection_select :player1_id, Player.all, :id, 
											 :last_name, :include_blank => true %></p>
	<p>Second Player: <%= f.collection_select :player2_id, Player.all, :id, 
											  :last_name, :include_blank => true %>

	<p>Score of first player: <%= f.text_field :player1_score %> </p>
	<p>Score of second player: <%= f.text_field :player2_score %>  </p>
	<br><br>
	<%= f.submit %>

<% end %>

<%= link_to "Back", root_path %>